body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  background-image: url(signupffii.jpg);
  background-size: cover;
}
#hhh{
margin-left: 250px;
}

.container {
  max-width: 380px;
  width: 100%;
  padding: 20px;
  background-color: #ede0d4;
  border-radius: 10px;
  box-shadow: -10px 0 10px rgba(3, 0, 0, 0.3);
  margin-left: auto;
  margin-right: 0;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

select,
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #055c9d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #003060;
}

h3 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

#totalFare {
  font-weight: bold;
  color: black;
}
